body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    list-style: none;
    gap: 16px;
    align-items: center;
    justify-content: right;
    margin-bottom: 100px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 50px;
}

.header-right {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.header-left {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.main-sec-button {
    display: flex;
    flex-direction: column;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-sec-text {
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up {
    background-color: #3882F6;
    max-width: 90px;
    padding: 8px;
    border-radius: 8px;
}

.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-ill-subtxt {
    display: flex;
    justify-content: center;
    gap: 48px;
    padding-bottom: 100px;
}

.virtual-placeholder {
    display:block;
    height:200px;
    width:200px;
    background:#eee;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.subtext {
    max-width: 200px;
    text-align: center;
}

.content-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quoter {
    display: flex;
    font-weight: bolder;
    justify-content: right;
    font-style: normal;
    font-weight: bolder;
}

.footer {
    background-color: #E5E7EB;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}


