body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.links {
    display: flex;
    list-style: none;
    gap: 16px;
    align-items: center;
    justify-content: right;
    margin-bottom: 100px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 50px;
}

.header-right {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.header-left {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.main-sec-button {
    display: flex;
    flex-direction: column;
}

.hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;
}

.hero-sec-text {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 0;
}

.sign-up {
    background-color: #3882F6;
    color: white;
    min-width: 110px;
    padding: 8px;
    border-radius: 8px;
    font-weight: bolder;
}

.content {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-ill-subtxt {
    display: flex;
    justify-content: center;
    gap: 54px;
    padding-bottom: 100px;
}

.virtual-placeholder {
    display:block;
    height:150px;
    width:150px;
    background: white;
    border: 3px solid #3882F6;
    border-radius: 20px;
}

.subtext {
    max-width: 150px;
    font-size: 16px;
    text-align: center;
}

.content-quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
    padding-left: 650px;
    padding-right: 650px;
}

.quoter {
    display: flex;
    font-weight: bolder;
    justify-content: right;
    padding-right: 50px;
    padding-top: 50px;
    font-style: normal;
    font-weight: bolder;
}

.footer {
    display: flex;
    padding: 100px;
    justify-content: center;
}

.call-to-action {
    display: flex;
    background-color: #3882F6;
    gap: 200px;
    min-width: 700px;
    min-height: 150px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 10px;
}

.call-to-action-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white; 
    text-align: left;
}

.sign-up2 {
    display: flex;
    align-items: center;
    background-color: #3882F6;
    color: white;
    border-color: white;
    max-height: 40px;
    min-width: 100px;
    padding: 8px;
    border-radius: 8px;
    margin: auto 0;
    border-style:solid;
    font-weight: bolder;
    justify-content: center;
}

a {
    color: #E5E7EB;
    text-decoration: none;
    font-size: 18px;
}


